#output_pallet_holder td,tr /*output control table*/
{
    /* border: 2px solid black; */
}

#Canvas_Holder /*Canvas holder Div*/
{
    position: relative;
    align-content: center;
    border: 2px solid black;
    width: 1460px;
    height: 550px;
    background-color: rgba(0, 255, 255, 0.218);
}

#Output_Canvas /*Canvas*/
{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#height /*vertical height slider */
{
    /* transform: rotate(270deg); */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 20px;
    height: 500px;
}



#width /*horizontal width slider */
{
    width: 1360px;
}


#top_bar
{
    height: 30px;
    width: 100%;
    background-image: url("../Resources/sky.png"); 
    background-size: cover; /* Resize the background image to cover the entire container */
}


#Input_Table
{
    border: 2px solid black;
    background-color: rgba(0, 255, 255, 0.264);
}

#input_textbox
{
    width: 1400px;
    height: 70px;
}

body
{
    background-image: url("../Resources/background.png"); 
    background-size: cover; /* Resize the background image to cover the entire container */
}